<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.baidu.wjp.jvtc">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/boat"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:icon"
        android:name="utils.MyApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".NewsDetailActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".FoundActivity"/>
        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".InfoActivity"/>
        <activity android:name=".GradeActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".CommentActivity"/>
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity android:name=".MainActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".AboutActivity" android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>